/* Load Fonts */
/* Spartan */
@font-face {
  font-family: Spartan;
  src: url("./fonts/spartan/Spartan-Thin.ttf");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: Spartan;
  src: url("./fonts/spartan/Spartan-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: Spartan;
  src: url("./fonts/spartan/Spartan-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Spartan;
  src: url("./fonts/spartan/Spartan-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Spartan;
  src: url("./fonts/spartan/Spartan-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Spartan;
  src: url("./fonts/spartan/Spartan-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Spartan;
  src: url("./fonts/spartan/Spartan-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Spartan;
  src: url("./fonts/spartan/Spartan-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: Spartan;
  src: url("./fonts/spartan/Spartan-Black.ttf");
  font-weight: 900;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.floating-animation {
  animation: float 6s ease-in-out infinite;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.splide__arrow {
  @apply bg-jankos-pink-300 text-white !important
}

@media (min-width:840px)  {
  .splide__arrow.splide__arrow--prev {
  left: -2.5em;
  }

  .splide__arrow.splide__arrow--next {
    right: -2.5em;
  }
}
.splide__arrow svg{
  fill: #fff !important;
}

.splide__pagination {
  bottom: -2.5em !important;
}

#splide-hero-home .splide__pagination {
  bottom: 12em !important;
}
@media (min-width:840px)  {
  #splide-hero-home .splide__pagination {
    bottom: 4em !important;
  }
}
/* @media (min-width:961px)  {
  #splide-hero-home .splide__pagination {
    bottom: -8em !important;
  }
} */

.splide__pagination__page {
  @apply bg-jankos-pink-200 !important;
}
.splide__pagination__page.is-active {
  @apply bg-jankos-pink-300 !important;
}

input[type='radio']:after {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  padding: 1px;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2.5px solid #d1d3d1;
}

input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -2px;
  left: -1px;
  position: relative;
  /* background-color: #ffa500; */
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2.5px solid #d1d3d1;
}

input[type='radio']:checked:after {
  @apply bg-jankos-pink-300
}

.carousel-root{
  width: 100%;
  height: 100%;
}

.carousel-root .carousel.carousel-slider{
  width: 100%;
  height: 100%;
}

.carousel-root .carousel.carousel-slider .slider-wrapper{
  height: 100%;
  position: relative;
}

.carousel-root .carousel.carousel-slider .slider-wrapper .slider{
  width: 100%;
  height: 100%;
}